.container {
    padding: 2em 100px;
    & > article {
        position: relative;
        padding-bottom: 70px;
        padding-top: 60px;
        margin-bottom: 70px;
        hyphens: auto;
        word-break: break-all;
        &:first-child {
            padding-top: 0;
        }
        &:before {
            content: "\f111";
            color: #e5e5e5;
            bottom: -6px;
            font-size: 12px;
            margin-left: -6px;
            line-height: 12px;
            border-radius: 100%;
            text-align: center;
            display: inline-block;
            position: absolute;
            z-index: 1;
            left: 50%;
            font-family: FontAwesome;
            -webkit-font-smoothing: antialiased;
        }
        &:after {
            content: "";
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(to right,#FFF 0,#eee 45%,#eee 55%,#FFF 100%);
        }
    }
}


.page-header {
    text-align: center;
    padding: 0 40px;
    margin: 10px 0 40px;
    h2.page-title {
        margin-top: 20px;
        margin-bottom: 10px;
        letter-spacing: 2px;
        a {
            color: #1a1a1a;
            transition: 300ms;
            -webkit-transition: 300ms;
            text-decoration: none;
        }
    }
}

.entry-header {
    position: relative;
    & > .post-icon {
        position: absolute;
        left: 50%;
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        bottom: -20px;
        z-index: 999999;
        background: #fff;
        text-align: center;
        margin-left: -22px;
        border-radius: 100%;
        z-index: 2;
        font-size: 20px;
        color: #000;
    }
}

.entry-meta {
    color: #a2a2a2;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: italic;
    letter-spacing: 1px;
}

ul.entry-meta {
    text-align: center;
    & > li {
        display: inline-block;
        margin-right: 15px;
        box-sizing: border-box;
        line-height: 30px;
        & > a {
            color: #ff7a40;
            text-decoration: none;
            outline: none;
            font-weight: 300;
            overflow: hidden;
            &:hover {
                color: #000000;
            }
        }
    }
}

.entry-content {
    margin-bottom: 40px;
    ::ng-deep img {
        max-width: 100%;
    }
}

.page-title {
    text-transform: uppercase;
    color: #333333;
}

.meta-category {
    border-bottom: 2px solid #000;
    a {
        color: #000000;
        text-transform: uppercase;
        font-size: .75em;
        padding-bottom: 5px;
        letter-spacing: 2px;
        font-weight: 700;
        transition: 300ms;
        text-decoration: none;
    }
}

.featured-image {
    & > a {
        display: block;
        outline: none;
        overflow: hidden;
        position: relative;
        &:hover {
            img {
                transform: scale(1.03);
            }
            &:before {
                background-color: rgba(0, 0, 0, .5);
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            transition: transform 0.35s linear;
        }
    }
}

.entry-blog {
    margin-top: 50px;
}

.readmore-blog {
    color: #ff7a40;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 60px 0 20px;
    font-style: italic;
    display: inline-block;
    transition: 300ms;
}

a.more-link {
    display: block;
    width: 225px;
    margin: 0 auto;
}

.blog-share-button {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        & > li {
            display: inline-block;
            margin-right: 30px;
            & > a {
                font-size: 18px;
                color: #000000;
            }
        }
    }
}

.post-navigation {
    ul.pager {
        margin: 0px 0 60px 0;
        padding: 0;
        text-align: center;
        list-style: none;

        &:before, &:after {
            content: '';
            display: table;
            clear: both;
        }

        li {
            display: inline-block;
            margin: 0 3px;
            & > a {
                display: inline-block;
                border: 2px solid #000;
                margin: 20px 0 15px;
                padding: 8px 20px;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #000;
                transition: 300ms;
                background: transparent;
                border-radius: 50px;
                text-decoration: none;
                .meta-title {
                    display: inline-block;
                    height: 100%;
                    margin: 0 10px;
                    vertical-align: middle;
                    max-width: 20em;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &:hover {
                    background-color: #000;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.post-related {

    &:before, &:after {
        content: '';
        display: table;
        clear: both;
    }

    .item-related {
        padding: 0 15px;
        box-sizing: border-box;
        img {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
    }

    h4 {
        margin: 0;
        text-transform: capitalize;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    .entry-date {
        font-size: 12px;
        color: #888;
    }
}

.related-title > h3 {
    margin: 0 0 50px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

// Comments
.comments-area {
    margin-top: 60px;

    .page-header {
        text-align: left;
    }

    .comments-title {
        margin: 60px 0;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        font-style: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
    }
}

ol.media-list {
    list-style: none;
    padding: 0 0 20px;
    margin-bottom: 30px;
}

.author-comment {
    float: left;
    margin-right: 20px;
    padding-right: 10px;
}

.media-body {
    display: table-cell;
    vertical-align: top;
}

.comment-body {
    padding-bottom: 60px;
    position: relative;
    margin-bottom: 40px;
    &:after {
        content: "";
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(to right,#FFF 0,#eee 5%,#eee 95%,#FFF 100%);
    }

    &:last-child:after {
        display: none;
    }
}

.comment-area {
    .media-heading {
        margin: 0;
        font-size: 22px;
        line-height: 22px;
        .says {
            margin-left: 10px;
        }
    }

    .comment-meta {
        font-style: italic;
        line-height: 24px;
        & > a {
            color: #888;
            font-size: 12px;
        }
    }
}

.comment {
    .children {
        margin-left: 1.5em;
        list-style: none;
    }
}

.comment-respond {
    .comment-reply-title {
        margin: 0 0 15px;
    }

    .must-log-in {
        margin: 0 0 1.2em;
    }
}

@media (max-width: 768px) {

    .container {
        padding: 2em 30px;
    }

    .page-header {
        padding: 0;
    }

    .comment {
        .children {
            margin-left: 0;
        }
    }
     .item-related {
         text-align: center;
         margin-bottom: 2em;
     }
}