<div class="tag-cloud">
    <a href="javascript:void(0)">blog</a>
    <a href="javascript:void(0)">clean</a>
    <a href="javascript:void(0)">design</a>
    <a href="javascript:void(0)">yaoshen</a>
    <a href="javascript:void(0)">gallery</a>
    <a href="javascript:void(0)">magizine</a>
    <a href="javascript:void(0)">music</a>
    <a href="javascript:void(0)">news</a>
    <a href="javascript:void(0)">post</a>
    <a href="javascript:void(0)">quote</a>
    <a href="javascript:void(0)">smart</a>
    <a href="javascript:void(0)">theme</a>
    <a href="javascript:void(0)">video</a>
    <a href="javascript:void(0)">wordpress</a>
</div>