body {
    background-image: url(./assets/img/skin.png);
}

* {
    box-sizing: border-box;
}

.container {
    &:before, &:after {
        display: table;
        content: " ";
        box-sizing: border-box;
    }
}

a {
    color: #ff7a40;
}