// typography
body {
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 30px;
    color: #333333;
}

h2 {
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    font-size: 40px;
    opacity: 1;
    transition: opacity 0.24s ease-in-out;
}

h3 {
    line-height: 30px;
    font-weight: 300;
    font-style: normal;
    color: #333333;
    font-size: 30px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.24s ease-in-out;
}

h4 {
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    color: #333333;
    font-size: 22px;
    opacity: 1;
    transition: opacity 0.24s ease-in-out;
}

p {
    margin: 0 0 1.2em;
}

blockquote {
    padding: 20px 30px;
    font-style: italic;
    margin: 0 0 20;
    font-size: 1.09375em;
    & > p {
        &:before {
            content: "\f10d";
            font-family: FontAwesome;
            margin-right: 10px;
            font-size: 30px;
        }
    
        &:after {
            content: "\f10e";
            font-family: FontAwesome;
            margin-left: 10px;
            font-size: 30px;
        }
    }
}