<div class="header-container">
    <div class="logo-header">
        <div class="top-ornament">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0,0,35,20">
                <line x1="8" x2="22" y1="6" y2="6" stroke="#FF7A40" stroke-linecap="round" />
                <line x1="2" x2="22" y1="10" y2="10" stroke="#FF7A40" stroke-linecap="round" />
                <line x1="8" x2="22" y1="14" y2="14" stroke="#FF7A40" stroke-linecap="round" />
                <circle cx="27" cy="10" r="6.5" fill="#FF7A40" />
            </svg>
            <span>SINCE</span>
            <img src="../../../assets/img/flower.svg" alt="">
            <span>1987</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0,0,35,20">
                <line x1="27" x2="13" y1="6" y2="6" stroke="#FF7A40" stroke-linecap="round" />
                <line x1="33" x2="13" y1="10" y2="10" stroke="#FF7A40" stroke-linecap="round" />
                <line x1="27" x2="13" y1="14" y2="14" stroke="#FF7A40" stroke-linecap="round" />
                <circle cx="8" cy="10" r="6.5" fill="#FF7A40" />
            </svg>
        </div>
        <div class="blog-name">
            <yaoshen-logo width="50" height="50" style="margin-right: 5px"></yaoshen-logo>AOSHEN
        </div>
        <div class="blog-description">
            PERSONAL BLOG FOR YAO
        </div>
    </div>
    <app-topbar></app-topbar>
</div>