<div #navbarContainer class="navbar-container">
    <div class="site-navigation-inner">
        <div class="navbar-header">
            <button class="navbar-toggle" (click)="collapsed = !collapsed" [ngClass]="{'on': !collapsed}">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <div class="navbar" [@collapseState]="collapsed" [ngClass]="{'collapsed': collapsed}">
        <ul>
            <li>
                <a routerLink="" routerLinkActive="active" i18n="site navigation|A link to home page.">Home</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" i18n="site navigation|All post formats.">Post Formats</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" i18n="site navigation|Lifestyle post type.">Lifestyle</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" i18n="site navigation|Fasion post type.">Fasion</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" i18n="site navigation|A link to about page.@@aboutMe">About Me</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" i18n="site navigation|A link to contect page.">Contact</a>
            </li>
        </ul>
    </div>
</div>