.container {
    padding: 15px 100px 0;
    margin: 0 -15px;
    &:after {
        clear: both;
    }
}

// main content
.main-content-inner {
    padding: 2em 35px 2em 15px;
    box-sizing: border-box;
    article {
        position: relative;
        padding-bottom: 70px;
        padding-top: 60px;
        hyphens: auto;
        word-break: break-all;
        word-break: break-word;

        &:first-child {
            padding-top: 0;
        }
        &:before {
            content: "\f111";
            color: #e5e5e5;
            bottom: -6px;
            font-size: 12px;
            margin-left: -6px;
            line-height: 12px;
            border-radius: 100%;
            text-align: center;
            display: inline-block;
            position: absolute;
            z-index: 1;
            left: 50%;
            font-family: FontAwesome;
            -webkit-font-smoothing: antialiased;
        }
        &:after {
            content: "";
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(to right,#FFF 0,#eee 45%,#eee 55%,#FFF 100%);
        }
    }
}

.sidebar {
    display: block;
    padding: 40px 35px 32px;
    box-sizing: border-box;
}

// article entries
.page-header {
    text-align: center;
    padding: 0;
    margin: 10px 0 40px;
    h2.page-title {
        margin-top: 20px;
        margin-bottom: 10px;
        letter-spacing: 2px;
        a {
            color: #1a1a1a;
            transition: 300ms;
            -webkit-transition: 300ms;
            text-decoration: none;
        }
    }
}

.entry-header {
    position: relative;
    & > .post-icon {
        position: absolute;
        left: 50%;
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        bottom: -20px;
        z-index: 999999;
        background: #fff;
        text-align: center;
        margin-left: -22px;
        border-radius: 100%;
        z-index: 2;
        font-size: 20px;
        color: #000;
    }
}

.entry-meta {
    color: #a2a2a2;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: italic;
    letter-spacing: 1px;
}

ul.entry-meta {
    text-align: center;
    & > li {
        display: inline-block;
        margin-right: 15px;
        box-sizing: border-box;
        line-height: 30px;
        & > a {
            color: #ff7a40;
            text-decoration: none;
            outline: none;
            font-weight: 300;
            overflow: hidden;
            &:hover {
                color: #000000;
            }
        }
    }
}

.entry-content {
    margin-bottom: 40px;
    overflow: hidden;

    ::ng-deep img {
        max-width: 100%;
    }
}

.page-title {
    text-transform: uppercase;
    color: #333333;
}

.meta-category {
    border-bottom: 2px solid #000;
    a {
        color: #000000;
        text-transform: uppercase;
        font-size: .75em;
        padding-bottom: 5px;
        letter-spacing: 2px;
        font-weight: 700;
        transition: 300ms;
        text-decoration: none;
    }
}

.featured-image {
    & > a {
        display: block;
        outline: none;
        overflow: hidden;
        position: relative;
        &:hover {
            img {
                transform: scale(1.03);
            }
            &:before {
                background-color: rgba(0, 0, 0, .5);
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            transition: transform 0.35s linear;
        }
    }
}

.entry-blog {
    margin-top: 50px;
}

:host ::ng-deep {
    a.more-link {
        display: block;
        width: 225px;
        margin: 0 auto;
    }

    .readmore-blog {
        color: #ff7a40;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 60px 0 20px;
        font-style: italic;
        display: inline-block;
        transition: 300ms;
    }
}

.blog-share-button {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        & > li {
            display: inline-block;
            margin-right: 30px;
            & > a {
                font-size: 18px;
                color: #000000;
            }
        }
    }
}

/** sidebar **/
.sidebar {
    padding: 2.5em 35px 2em;
}

.widget-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
}

.aboutme-widget {
    & > img {
        margin-bottom: 30px;
        max-width: 100%;
    }
}

.social-button-widget {
    margin-bottom: 30px;
    & > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        & > li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            & > a {
                display: block;
                border: 1px solid #CCCCCC;
                border-radius: 50%;
                color: #CFCFCF;
                width: 2em;
                height: 2em;
                font-size: 14px;
                text-align: center;
                outline: none;
            }
        }
    }
}

form.searchbox {
    position: relative;
    margin-bottom: 2em;
    input {
        padding: .8em 2.5em .8em 1.5em;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #f2f2f2;
        &:focus {
            border-color: #ff7a40;
        }
        &::-webkit-input-placeholder {
            color: #999999;
        }
    }

    &:after {
        content: "\f002";
        font-family: FontAwesome;
        position: absolute;
        right: .5em;
        top: 50%;
        margin-top: -.75em;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
    }
}

.ads-banner-widget {
    margin-bottom: 2em;
    a {
        img {
            max-width: 100%;
        }
    }
}

ul.latest-post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.latest-post-item {
    overflow: hidden;
    .latest-post-image {
        float: left;
        margin-right: 15px;
        margin-bottom: 25px;
        padding-right: 10px;
        & > img {
            max-width: 100%;
            border-radius: 4px; 
        }
    }

    .latest-post-content {
        display: table-cell;
        h4 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 20px;
            font-family: "Roboto Slab";
            font-weight: 500;
            vertical-align: top;
            & > a {
                color: #444444;
                text-decoration: none;
            }
        }
        .side-meta {
            color: #ccc;
            font-size: 12px;
            line-height: 16px;
            font-style: italic;
        }
    }
}

.post-navigation {
    ul.pager {
        margin: 80px 0 0;
        padding: 0;
        text-align: center;
        list-style: none;

        &:before, &:after {
            content: '';
            display: table;
            clear: both;
        }

        li {
            display: inline-block;
            margin: 0 3px;
            & > a {
                display: inline-block;
                border: 2px solid #000;
                margin: 20px 0 15px;
                padding: 8px 20px;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #000;
                transition: 300ms;
                background: transparent;
                border-radius: 50px;
                text-decoration: none;
                .meta-title {
                    display: inline-block;
                    height: 100%;
                    margin: 0 10px;
                    vertical-align: middle;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &:hover {
                    background-color: #000;
                    color: #FFFFFF;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        padding: 15px 30px 0;
    }

    .main-content-inner {
        padding-right: 15px;
    }
}